<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension
  point="org.eclipse.ui.views">
<view
  class="pruebamemorandos.view.view.views.VentanaMemorandoViewPart"
    id="pruebamemorandos.view.view.views.VentanaMemorando" 
   name="VentanaMemorando">
 </view>
</extension> 

       <extension
             point="org.eclipse.ui.actionSets">
         <actionSet
               label="Update View"
               visible="true"
               id="test.update.actionSet">
            <menu
                 label="Sample &amp;Menu"
                 id="sampleMenu">
              <separator
                    name="sampleGroup">
              </separator>
            </menu>
            <action
                      label="UpdateData"
                      icon="button.png"
                      class="pruebamemorandos.view.update.actions.UpdateAction"
                      tooltip="Update View"
                      menubarPath="sampleMenu/sampleGroup"
                      toolbarPath="sampleGroup"
                      id="test.update.actions.SampleAction">
            </action>
          </actionSet>
       </extension>
</plugin>
