<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated default -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="model.presentation.ModelModelWizardID"
            name="%_UI_ModelModelWizard_label"
            class="model.presentation.ModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelModelFile.gif">
         <description>%_UI_ModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated default -->
      <editor
            id="model.presentation.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="model"
            class="model.presentation.ModelEditor"
            contributorClass="model.presentation.ModelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated default -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="model.uimanager.presentation.UimanagerModelWizardID"
            name="%_UI_UimanagerModelWizard_label"
            class="model.uimanager.presentation.UimanagerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UimanagerModelFile.gif">
         <description>%_UI_UimanagerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated default -->
      <editor
            id="model.uimanager.presentation.UimanagerEditorID"
            name="%_UI_UimanagerEditor_label"
            icon="icons/full/obj16/UimanagerModelFile.gif"
            extensions="uimanager"
            class="model.uimanager.presentation.UimanagerEditor"
            contributorClass="model.uimanager.presentation.UimanagerActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated default -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="model.domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="model.domain.presentation.DomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated default -->
      <editor
            id="model.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="model.domain.presentation.DomainEditor"
            contributorClass="model.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

</plugin>
